/*ItemDetail*/

.cardDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
}
.buttonsItemDetail {
    display: grid;
    gap: 5%;
}
.addCarrito {
    background-color: rgb(61, 194, 61);
    border-radius: 12px;
    padding: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
}