/*ItemDetail*/

.cardDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
}
.buttonsItemDetail {
    display: grid;
    gap: 5%;
}
