 /* footer style */

 .footerContenedor {
    padding: 40px;
    background-color: rgba(247, 121, 230, 0.329);
    display: flex;
    flex-direction: column;
  }
  
  .footerInicio {
    text-decoration: none;
    color: #212529;
  }
  
  .guiaDatos h3, .derechosReservados h4{
    font-size: large;
    margin: 15px 0px 10px 0px;
  }
  
  .redes {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 10px;
  }
  
  .facebook:hover , .instagram:hover, .whatsapp:hover {
    transition: all 1.5s;
    transform: scale(2);
  }